// desktop view css

$screen-lg-min: 1200px;

@media (min-width: $screen-lg-min) {
    .close-icon,
    .open-icon {
        display: none;
    }

    nav {
        position: static;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-height: 100px;
        
        a {
            padding: 1vh 3vw 1vh 6vw;
        }
        
        ul {
            display: inline-flex; 
        }

        a:hover {
            text-decoration: line-through;
        }
    }

    main {
        margin-top: 5vh;
        width: 100%;
    }

    .jumbotron {
        width: 80%;
        margin: 0 auto 0 auto;
    }

    .intro-header {
        font-size: 6vw;
        margin:0;
        line-height: 8vw;
    }

    .intro-description {
    font-size: 4vw;
    padding: 1vh 0 4vh 0;
    line-height: 6vw;
    }

    button {
        display: block;
        width: 20vw;
        font-size: 2vw;
        margin: 0 auto 5vh auto;
    }
}